*.log

*.py[codt]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

.webassets-cache

# Virtualenvs
env
env*
venv

# intellij
*.ipr
*.iml
*.iws

{{cookiecutter.repo_name}}/settings/local.py
{{cookiecutter.repo_name}}/settings/production.py

# collect static output directory
{{cookiecutter.repo_name}}/assets/
{{cookiecutter.repo_name}}/static/

.DS_Store

# node
node_modules/

# bower packages
{{cookiecutter.repo_name}}/assets-src/vendor/
.sass-cache/
